   
<table>
    <tr>
        <td><a href="index">Home</a></td>
        <td><a href="weekzero">Week Zero</a></td>
        <td><a href="weekone">Week One</a></td>
        <td><a href="weektwo">Week Two</a></td>
        <td><a href="replit">Python Project/Replit</a></td>
        <td><a href="createtask">Create Task</a></td>
        <td><a href="testcorrections">Test Corrections</a></td>
        <td><a href="studyplan">Study Plan</a></td>
        <td><a href="studyplan">Documentation</a></td>

    </tr>
</table>
<hr>
